@charset "UTF-8";

@media screen and (min-width: 889px) {
    .main {
        display: flex;
        width: 85%;
        max-width: 1300px;
        height: 450px;
    }

    .img {
        height: 100%;
        width: 45%;
        background-size: cover;
        border-radius: 25px 0 0 25px;
    }

    .login {
        width: 55%;
        height: 100%;
    }

    .login h1 {
        font-size: 1.7em;
        margin-top: 25px;
    }

    .login p {
        font-size: 1.1em;
        margin: 20px auto;
    }

    form label, form input[type=submit], form a {
        height: 50px;
    }
}

@media screen and (orientation: landscape) and (max-height: 380px) and (max-width: 888px) {
    .main {
        display: flex;
        width: 90%;
    }

    .img {
        height: 100%;
        width: 30%;
        background-size: cover;
        border-radius: 25px 0 0 25px;
    }

    .login {
        width: 70%;
        height: 100%;
    }

    .login h1 {
        margin: 15px auto 5px;
    }

    .login p {
        margin: 5px auto;
    }

    form a {
        padding: 5px 0;
    }

    form label, form input[type=submit], form a {
        height: 35px;
    }
}